---
layout: default
---
<!-- Posts -->
<ul id="posts">

	{% for post in site.posts %}

	  {% if post.category != "author" and post.category != "story" %}

		  <li class="post">
		  	<h2><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{{ post.title }}</a></h2>
		  	<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date_to_string }}</time>
				<p>
				{% if post.new %}
					{{ post.excerpt }}
				{% else %}
					{{ post.content | strip_html | truncatewords:50 }}
				{% endif %}
			  </p>
		  </li>

    {% endif %}
	{% endfor %}

</ul>
