---
layout: default
---

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{{ page.title }}">
<meta itemprop="description" content="{{ site.description }}">
<meta itemprop="image" content="{{ site.url }}assets/{{ page.image }}">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@galpod">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:creator" content="@galpod">
<meta name="twitter:image" content="{{ site.url }}assets/{{ page.image }}">

<!-- Open Graph data -->
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ page.url }}" />
<meta property="og:image" content="{{ site.url }}assets/{{ page.image }}" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:site_name" content="Developmental Mommy" />

<article id="post-page">
	<h1>{{ page.title }}</h1>
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
	<div class="content">
		<!-- Header -->
		{% if page.image %}
			<div>
				<img src="{{ site.url }}assets/{{ page.image }}" alt="{{page.image-text}}" width="100%">
			</div>
		{% endif %}
		{{ content }}

	</div>
	<div id="disqus_thread"></div>
	<script>
	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');

	s.src = '//galpod.disqus.com/embed.js';

	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</article>
